Job: "probs-2500"
#  AtlasLabel: none
  CmeLabel: "13 TeV"
  POI: "mu_LQ"
  ReadFrom: NTUP
  OutputDir: ./outputs
  NtuplePaths: XXX_NtuplePaths
  FriendPath: XXX_FriendPaths
  Label: "LQ"
  LumiLabel: "140 fb^{-1}"
  Lumi: 1.0
  MCweight: "weight_total_NOSYS"
  NtupleName: "reco"
  MCstatThreshold: 0.01
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: pdf,png
  DoSignalRegionsPlot: TRUE
  RatioYmin: 0.
  RatioYmax: 2.0
  ReplacementFile: replacements/replacement.txt
  DebugLevel: 2
  BlindingThreshold: 0.15
  PlotOptions: "YIELDS,NORATIO"


Fit: fit
  FitType: SPLUSB
  FitRegion: CRSR
  FitBlind: TRUE
  UseMinos: "mu_LQ"


NormFactor: "mu_LQ"
  Title: "#mu (LQ)"
  Min: 0
  Max: 10
  Nominal: 1
  Constant: TRUE
  Samples: LQ

Limit: "limit"
  LimitType: ASYMPTOTIC


Region: "probs-lq"
  Type: SIGNAL
  Variable: probs_LQ,5,0,1
  VariableTitle: "Assigned probability of event being lq"
  Label: "p(y = lq | x)"
  LogScale: TRUE
  Ymin: 0.01
  DataType: DATA
  Selection: XXX_SELECTION
  # Binning: "AutoBin","TransfoD",2,2



INCLUDE: ../samples-friend/signal-2500.config

INCLUDE: ../samples-friend/background.config
