Job: "raw-events"
  CmeLabel: "13 TeV"
  POI: "mu_lq"
  ReadFrom: NTUP
  AtlasLabel: none
  Label: NONE
  OutputDir: ./outputs
  NtuplePaths: XXX_NtuplePaths
  FriendPath: XXX_FriendPaths
  Label: "ttH"
  LumiLabel: "140 fb^{-1}"
  Lumi: XXX_LUMI
  MCweight: "XXX_MC_WEIGHT"
  NtupleName: "nominal"
  MCstatThreshold: 0.01
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: pdf
  DoSignalRegionsPlot: TRUE
  RatioYmin: 0.
  RatioYmax: 2.0
  ReplacementFile: replacements/replacement.txt
  DebugLevel: 2
  BlindingThreshold: 0.25
  PlotOptions: "YIELDS"

# Fit
INCLUDE: ../fits/mu.config

# Norm factor mu_ttH
INCLUDE: ../norm-factors/mu.config



# ---- Regions ----
# N-events in the signal region
INCLUDE: ../regions/n-events-sr.config

# N-events 
INCLUDE: ../regions/n-events.config



# ---- Samples ----
# Backgrounds
INCLUDE: ../samples/background.config

# Signal sample
INCLUDE: ../samples/signal.config

# Data
INCLUDE: ../samples/data.config
