Job: "-- this is not a real job --"
  NtuplePaths: /home/champson/CERN/ntuples/fastframes-new
  Lumi: 1.0
  MCweight: "weight_total_NOSYS"
  NtupleName: "reco"
  ReplacementFile: replacements/replacement.txt



# tau-pt-0
Region: "tau-pt-0"
  Type: SIGNAL
  Variable: tau_pt_NOSYS/1e3,20,0,2000
  VariableTitle: "Leading tau p_{T} [GeV]"
  Label: "2lSS 1#tau"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau}"
  LogScale: TRUE
  Ymin: 0.01
  DataType: DATA
  Selection: "XXX_SELECTION"



INCLUDE: ../samples/signal-1500.config

INCLUDE: ../samples/background.config
