Sample: "ttgamma"
  Type: BACKGROUND
  Title: "ttgamma"
  TexTitle: $ttgamma$
  Group: "Other"
  FillColor: 11
  LineColor: 11
  NtupleFiles: XXX_ttgamma_samples
  UseFriend: TRUE

Sample: "ttbar"
  Type: BACKGROUND
  Title: "ttbar"
  TexTitle: $ttbar$
  Group: "ttbar"
  FillColor: 12
  LineColor: 12
  NtupleFiles: XXX_ttbar_samples
  UseFriend: TRUE

Sample: "ttW"
  Type: BACKGROUND
  Title: "ttW"
  TexTitle: $ttW$
  Group: "ttW"
  FillColor: 13
  LineColor: 13
  NtupleFiles: XXX_ttW_samples
  UseFriend: TRUE

Sample: "ttH"
  Type: BACKGROUND
  UseFriend: TRUE
  Title: "ttH"
  TexTitle: $ttH$
  Group: "ttH"
  FillColor: 14
  LineColor: 14
  NtupleFiles: XXX_ttH_samples
  UseFriend: TRUE

Sample: "ttZ"
  Type: BACKGROUND
  Title: "ttZ"
  TexTitle: $ttZ$
  Group: "ttZ"
  FillColor: 15
  LineColor: 15
  NtupleFiles: XXX_ttZ_samples
  UseFriend: TRUE

Sample: "SingleTop"
  Type: BACKGROUND
  Title: "SingleTop"
  TexTitle: $SingleTop$
  Group: "SingleTop"
  FillColor: 16
  LineColor: 16
  NtupleFiles: XXX_SingleTop_samples
  UseFriend: TRUE

####################################
# OTHER
####################################

Sample: "ttZZ"
  Type: BACKGROUND
  Title: "ttZZ"
  TexTitle: $ttZZ$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_ttZZ_samples
  UseFriend: TRUE
    
Sample: "tZ"
  Type: BACKGROUND
  Title: "tZ"
  TexTitle: $tZ$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_tZ_samples
  UseFriend: TRUE
    
Sample: "VH"
  Type: BACKGROUND
  Title: "VH"
  TexTitle: $VH$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_VH_samples
  UseFriend: TRUE
    
Sample: "fourTop"
  Type: BACKGROUND
  Title: "fourTop"
  TexTitle: $fourTop$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_fourTop_samples
  UseFriend: TRUE
    
Sample: "Zjets"
  Type: BACKGROUND
  Title: "Zjets"
  TexTitle: $Zjets$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_Zjets_samples
  UseFriend: TRUE
    
Sample: "Wjets"
  Type: BACKGROUND
  Title: "Wjets"
  TexTitle: $Wjets$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_Wjets_samples
  UseFriend: TRUE
    
Sample: "ttWZ"
  Type: BACKGROUND
  Title: "ttWZ"
  TexTitle: $ttWZ$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_ttWZ_samples
  UseFriend: TRUE
    
Sample: "WtZ"
  Type: BACKGROUND
  Title: "WtZ"
  TexTitle: $WtZ$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_WtZ_samples
  UseFriend: TRUE
    
Sample: "ttHH"
  Type: BACKGROUND
  Title: "ttHH"
  TexTitle: $ttHH$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_ttHH_samples
  UseFriend: TRUE

Sample: "threeTop"
  Type: BACKGROUND
  Title: "threeTop"
  TexTitle: $threeTop$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_threeTop_samples
  UseFriend: TRUE

Sample: "ttWH"
  Type: BACKGROUND
  Title: "ttWH"
  TexTitle: $ttWH$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_ttWH_samples
  UseFriend: TRUE
    
Sample: "Vgamma"
  Type: BACKGROUND
  Title: "Vgamma"
  TexTitle: $Vgamma$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_Vgamma_samples
  UseFriend: TRUE
    
Sample: "ttWW"
  Type: BACKGROUND
  Title: "ttWW"
  TexTitle: $ttWW$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_ttWW_samples
  UseFriend: TRUE
    
Sample: "VVV"
  Type: BACKGROUND
  Title: "VVV"
  TexTitle: $VVV$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_VVV_samples
  UseFriend: TRUE

Sample: "VV"
  Type: BACKGROUND
  Title: "VV"
  TexTitle: $VV$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_VV_samples
  UseFriend: TRUE
