Sample: "FakeTau"
  Type: BACKGROUND
  Title: "FakeTau"
  TexTitle: $FakeTau$
  Group: "FakeTau"
  FillColor: 12
  LineColor: 12
  NtupleFiles: XXX_ALL_samples
  Selection: XXX_FAKE_TAU_SELECTION
  UseFriend: TRUE

Sample: "FakeEl"
  Type: BACKGROUND
  Title: "FakeEl"
  TexTitle: $FakeEl$
  Group: "FakeEl"
  FillColor: 13
  LineColor: 13
  NtupleFiles: XXX_ALL_samples
  Selection: XXX_FAKE_EL_SELECTION
  UseFriend: TRUE

Sample: "FakeMu"
  Type: BACKGROUND
  Title: "FakeMu"
  TexTitle: $FakeMu$
  Group: "FakeMu"
  FillColor: 14
  LineColor: 14
  NtupleFiles: XXX_ALL_samples
  Selection: XXX_FAKE_MU_SELECTION
  UseFriend: TRUE

Sample: "FakeTauLep"
  Type: BACKGROUND
  Title: "FakeTauLep"
  TexTitle: $FakeTauLep$
  Group: "FakeTauLep"
  FillColor: 15
  LineColor: 15
  NtupleFiles: XXX_ALL_samples
  Selection: XXX_FAKE_TAU_LEP_SELECTION
  UseFriend: TRUE