Sample: "ttWZ"
  Type: BACKGROUND
  Title: "ttWZ"
  TexTitle: $t\bar{t}WZ$
  Group: "Other"
  FillColor: 20
  LineColor: 1
  NtupleFiles: XXX_ttWZ_samples
  UseFriend: TRUE

Sample: "VV"
  Type: BACKGROUND
  Title: "VV"
  TexTitle: $VV$
  Group: "Other"
  FillColor: 20
  LineColor: 1
  NtupleFiles: XXX_VV_samples
  UseFriend: TRUE

Sample: "ttWH"
  Type: BACKGROUND
  Title: "ttWH"
  TexTitle: $t\bar{t}WH$
  Group: "Other"
  FillColor: 20
  LineColor: 1
  NtupleFiles: XXX_ttWH_samples
  UseFriend: TRUE

Sample: "ttZZ"
  Type: BACKGROUND
  Title: "ttZZ"
  TexTitle: $t\bar{t}ZZ$
  Group: "Other"
  FillColor: 20
  LineColor: 1
  NtupleFiles: XXX_ttZZ_samples
  UseFriend: TRUE

Sample: "ttHH"
  Type: BACKGROUND
  Title: "ttHH"
  TexTitle: $t\bar{t}HH$
  Group: "Other"
  FillColor: 20
  LineColor: 1
  NtupleFiles: XXX_ttHH_samples
  UseFriend: TRUE

Sample: "VH"
  Type: BACKGROUND
  Title: "VH"
  TexTitle: $VH$
  Group: "Other"
  FillColor: 20
  LineColor: 1
  NtupleFiles: XXX_VH_samples
  UseFriend: TRUE

Sample: "threeTop"
  Type: BACKGROUND
  Title: "threeTop"
  TexTitle: $threeTop$
  Group: "Other"
  FillColor: 20
  LineColor: 1
  NtupleFiles: XXX_threeTop_samples
  UseFriend: TRUE

