# N events
Region: "N-events-sr"
  Type: SIGNAL
  Variable: 1,1,0,1
  VariableTitle: "N events (SR plus cuts)"
  Label: ""
  ShortLabel: ""
  TexLabel: "N events (SR)"
  Selection: "XXX_2LSS_SELECTION && XXX_LEPTON_PROMPT_SELECTION && XXX_EXCLUSION_Z_PEAK && XXX_LEP_ID_SELECTION"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA