Region: "tau-pt"
  Type: SIGNAL
  Variable: tau_pt_NOSYS/1e3,20,0,1500
  VariableTitle: "Tau p_{T} [GeV]"
  Label: "2lSS 1#tau"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau}"
  LogScale: TRUE
  Ymin: 1.0
  DataType: DATA
  Selection: "eventNumber > 0.0"

Region: "tau-e"
  Type: SIGNAL
  Variable: tau_e_NOSYS/1e3,20,0,1000
  VariableTitle: "Tau E [GeV]"
  Label: "2lSS 1#tau"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau}"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA
  Selection: "eventNumber > 0.0"

Region: "el-pt"
  Type: SIGNAL
  Variable: el_pt_NOSYS/1e3,20,0,1000
  VariableTitle: "Electron p_{T} [GeV]"
  Label: "2lSS 1#tau"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau}"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA
  Selection: "eventNumber > 0.0"

Region: "el-e"
  Type: SIGNAL
  Variable: el_e_NOSYS/1e3,20,0,1000
  VariableTitle: "Electron E [GeV]"
  Label: "2lSS 1#tau"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau}"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA
  Selection: "eventNumber > 0.0"


Region: "jet-pt"
  Type: SIGNAL
  Variable: jet_pt_NOSYS/1e3,20,0,1000
  VariableTitle: "Jet p_{T} [GeV]"
  Label: "2lSS 1#tau"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau}"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA
  Selection: "eventNumber > 0.0"

Region: "jet-e"
  Type: SIGNAL
  Variable: jet_e_NOSYS/1e3,20,0,1000
  VariableTitle: "Jet E [GeV]"
  Label: "2lSS 1#tau"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau}"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA
  Selection: "eventNumber > 0.0"
  