#Region: "tau-pt"
#  Type: SIGNAL
#  Variable: taus_pt_0_NOSYS/1e3,20,0,1500
#  VariableTitle: "Tau p_{T} [GeV]"
#  Label: "2lSS 1#tau"
#  ShortLabel: "SR - 2lSS 1#tau"
#  TexLabel: "\mathbf{2lSS 1\tau}"
#  LogScale: FALSE
#  Ymin: 1.0
#  DataType: DATA
#
#Region: "m-eff"
#  Type: SIGNAL
#  Variable: m_eff_NOSYS/1e6,20,0,7
#  VariableTitle: "m_eff [TeV]"
#  Label: "2lSS 1#tau"
#  ShortLabel: "SR - 2lSS 1#tau"
#  TexLabel: "\mathbf{2lSS 1\tau}"
#  LogScale: FALSE
#  Ymin: 1.0
#  DataType: DATA

Region: "fake-tau"
  Type: SIGNAL
  Variable: leps_eta_0_NOSYS,25,-2.5,2.5
  VariableTitle: "Leading Lepton eta [TeV]"
  Label: "2lSS 1#tau"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau}"
  LogScale: FALSE
  Ymin: 1.0
  DataType: DATA
  Selection: "(m_eff_NOSYS < 1500000.0) && (jets_n_NOSYS <= 3) && (leps_charge_0_NOSYS*leps_charge_1_NOSYS < 0) && (leps_pt_0_NOSYS > 100000.0)"