Region: "SR"
	Type: SIGNAL
	Variable: m_eff_NOSYS/1e6,10,0,8
	VariableTitle: "Effective Mass[TeV]"
	Label: "$2lSS1\tau 4j1bj$"
	DataType: DATA
	Selection: "leps_charge_0_NOSYS*leps_charge_1_NOSYS == 1 && jets_n_NOSYS > 3 && nbJets77_NOSYS > 0" # && m_eff_NOSYS > 1.5e6"

Region: "lowJetCR"
	Type: CONTROL
	Variable: taus_pt_0_NOSYS/1e3,10,20,100
	VariableTitle: "Tau Transverse Momentum[GeV]"
	Label: "$2lSS1\tau <4j 0bj$"
	DataType: DATA
	Selection: "m_eff_NOSYS < 1.5e6 && leps_charge_0_NOSYS*leps_charge_1_NOSYS == 1 && jets_n_NOSYS <= 3 && nbJets77_NOSYS == 0"

Region: "lowJetbJetCRMu"
	Type: CONTROL
	Variable: taus_pt_0_NOSYS/1e3,10,20,150
	VariableTitle: "Tau Transverse Momentum[GeV]"
	Label: "$2lSS1\tau <4j1bj\mu_f$"
	DataType: DATA
	Selection: "m_eff_NOSYS < 1.5e6 && !mu_select_HighPt_NonIso_NOSYS && leps_charge_0_NOSYS*leps_charge_1_NOSYS == 1 && jets_n_NOSYS <= 3 && nbJets77_NOSYS > 0"

Region: "lowJetbJetCREl"
	Type: CONTROL
	Variable: taus_pt_0_NOSYS/1e3,10,20,150
	VariableTitle: "Tau Transverse Momentum[GeV]"
	Label: "$2lSS1\tau <4j1bje_f$"
	DataType: DATA
	Selection: "m_eff_NOSYS < 1.5e6 && !el_select_TightDNN_NonIso_NOSYS && leps_charge_0_NOSYS*leps_charge_1_NOSYS == 1 && jets_n_NOSYS <= 3 && nbJets77_NOSYS > 0"

Region: "OSlowJetCR"
	Type: CONTROL
	Variable: leps_eta_0_NOSYS,50,-2.5,2.5
	VariableTitle: "Leading Lepton \eta"
	Label: "2lOS1\tau <4j"
	DataType: DATA
	Selection: "m_eff_NOSYS < 1.5e6 && leps_charge_0_NOSYS*leps_charge_1_NOSYS == -1 && jets_n_NOSYS <= 3"

Region: "VAL"
	Type: VALIDATION
	Variable: m_eff_NOSYS/1e6,10,0.3,1.5
	VariableTitle: "Effective Mass[TeV]"
	Label: "$2lSS1\tau 4j1bjVAL$"
	DataType: DATA
	Selection: "leps_charge_0_NOSYS*leps_charge_1_NOSYS == 1 && jets_n_NOSYS > 3 && nbJets77_NOSYS > 0 && m_eff_NOSYS < 1.5e6"