# lep_Pt_0
Region: "tau-pt-0"
  Type: SIGNAL
  Variable: tau_Pt_0/1e3,10,0,200
  VariableTitle: "Leading tau p_{T} [GeV]"
  Label: "2lSS 1#tau"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau}"
  Selection: "XXX_2LSS_SELECTION && XXX_LEPTON_PROMPT_SELECTION && XXX_EXCLUSION_Z_PEAK && XXX_LEP_ID_SELECTION"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA